body {
  width: 800px;
  margin: 0px auto;
  background-color: #f3f2e8;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Header and Navigation
-------------------------------------------------*/

#nav {
  background-color: #51463d;
  height: 42px;
  padding: 0 18px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkid-border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkid-border-bottom-right-radius: 10px;
}

#logo, #site-nav, #site-nav li {
  float: left;
}

#logo {
  font-size: 20px;
  font-weight: normal;
  margin: 10px 36px 0 0;
  color: #f3f2e8;
}

#site-nav li {
  height: 42px;
  border-left: solid 1px #87705d;
}

#site-nav li.last {
  border-right: solid 1px #87705d;
}

#site-nav li a {
  color: #f3f2e8;
  text-decoration: none;
  display: block;
  padding: 14px 12px;
}

#site-nav li a:hover {
  background-color: #483e36;
}

#user-nav, #user-nav li {
  float: right;
}

#user-nav li {
  margin-top: 8px;
}

#user-nav li a {
  color: #b2a18f;
  font-size: 12px;
  text-decoration: none;
  display: block;
  padding: 6px;
}

#user-nav li a:hover {
  color: #e3c887;
}

#container {
  margin-top: 20px;
}

/* Flash messages
-------------------------------------------*/

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* Original
-----------------------------------*/

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
