body {
  color: #51463d;
  width: 800px;
  margin: 0px auto;
  padding-bottom: 40px;
  background-color: #f3f2e8;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

a:link, a:visited {
  text-decoration: none;
  color: #3792b3;
}

a:hover {
  color: rgba(55, 146, 179, 0.796875);
}

h2 {
  color: #51463d;
  font-weight: normal;
  font-size: 22px;
  font-family: Georgia, serif;
}

h3 {
  font-family: Georgia, serif;
  color: #a14141;
  font-weight: normal;
  font-size: 20px;
}

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Header and Navigation
-------------------------------------------------*/

#nav {
  background-color: #51463d;
  height: 42px;
  padding: 0 18px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkid-border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkid-border-bottom-right-radius: 10px;
}

#logo, #site-nav, #site-nav li {
  float: left;
}

#logo {
  font-size: 20px;
  font-weight: normal;
  margin: 10px 36px 0 0;
  color: #f3f2e8;
}

#site-nav li {
  height: 42px;
  border-left: solid 1px #87705d;
}

#site-nav li.last {
  border-right: solid 1px #87705d;
}

#site-nav li a {
  color: #f3f2e8;
  text-decoration: none;
  display: block;
  padding: 14px 12px;
}

#site-nav li a:hover {
  background-color: #483e36;
}

#user-nav, #user-nav li {
  float: right;
}

#user-nav li {
  margin-top: 8px;
}

#user-nav li a {
  color: #b2a18f;
  font-size: 12px;
  text-decoration: none;
  display: block;
  padding: 6px 10px;
}

#user-nav li a:hover {
  color: #e3c887;
}

#container {
  margin-top: 20px;
  padding: 0 6px;
}

div.code {
  color: #51463d;
  font-size: 12px;
  font-family: monospace;
  line-height: 180%;
  background-color: #e2e1d4;
  padding: 10px;
  margin: 4px 0;
}

/* Code preview
------------------------------------------*/

div.code-preview {
  margin: 20px 0 40px 0;
}

div.code-preview h3, div.code-view h3 {
  float: left;
}

div.code-preview span {
  float: right;
  color: #e2e1d4;
}

div.code-preview div.snippet {
  border-bottom: 10px solid #e2e1d4;
  height: 120px;
  overflow: hidden;
}

div.code-preview p.author {
  text-align: right;
  color: #9c836e;
}

/* Buttons
-----------------------------------------*/

div.button {
  margin: 14px 0;
}

div.button a, input.button {
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 14px;
  color: #ffffff;
  border: 1px solid #3792b3;
  background: #3792b3 url(/images/button.png) repeat-x 0 50%;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
}

div.button a:hover, input.button:hover {
  background-color: #a14141;
  border-color: #a14141;
}

input.button {
  cursor: pointer;
  font-weight: normal;
  padding: 3px 14px;
}

/* Flash messages
-------------------------------------------*/

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

/* Original
-----------------------------------*/

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* Form elements
---------------------------------------*/

form {
  margin-top: 20px;
}

form fieldset {
  margin: 0 0 15px 0;
}

form label {
  display: block;
  margin: 0 0 6px 0;
}

form input, form textarea {
  padding: 4px;
  font-size: 14px;
  border: none;
  background-color: #e2e1d7;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

form textarea {
  width: 700px;
}

form input:focus {
  background-color: #ffffff;
}
